* {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(234, 234, 234);
}

body {
  padding: 10px 60px 60px 60px;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h1{
  font-size: 3rem;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.titulo {
  font-size: 24px; 
  font-weight: bold; 
  color: #333; 
  text-align: center; 
  margin: 10px 0; 
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border: 10px groove white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 700px;  
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: #212529;
  color: white;
  flex: 1;
  font-family: 'san serif';
  font-size: 1.5rem;
  width: 360px;
  height: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 10px solid white;
  border-width: 0px 0px 5px 0px;
}

.card img {
  width: 400px;
  height:600px;
}

.no-movie{
  margin-top: 100px;
  font-size: 40px;
  font-family: 'system-ui';
  text-align: center;
}

.container-btn {
  display: flex;
  gap: 20px;
}

.btn-delete {
  background-color: #dc3545; 
  border: 1px solid #dc3545; 
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-top: 35px;
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.btn-deleteAll{
  background-color: #dc3545; 
  border: 1px solid #dc3545; 
  font-size: 16px;
  font-weight: 600;
  margin-top: 35px;
  color: #fff;
  padding: 10px 20px; 
  border-radius: 10px; 
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Cambio de estilo al pasar el ratón */
.button-delete:hover {
  background-color: #c82333; /* Color de fondo en el hover */
  border-color: #bd2130; /* Borde en el hover */
}

@media only screen and (max-width: 767px) {

  body{
  padding: 10px 2px 60px 2px;
  }

  h1{
    font-size: 2rem;
  }

  input{
    width: 90%;
  }

  .card{
    width: 100vw;
    margin-right: 0px;

  }

  .card img{
    width: 500px;
  }

  .container-btn {
    display: flex;
    flex-direction: column;
  }

  .btn-deleteAll{
    margin-top: 0px;
  }
}